html{
	background-color: wheat;
	font-family: Georgia, sans-serif;
}
.container{
	font-size: 20px;
	font-weight: bold;
	border: solid 2px black;
	width: 599px;
	height: 586px;
	margin: 0px auto;
	background-color: #fff;
	position: relative;
}
.clear{
	clear: both;
	display: table;
	content: "";
}
.circle-middle{
	width: 177px;
	height: 177px;
	background-color: #248c2b;
	border-radius: 50%;
	border: solid 4px #fff;
	position: absolute;
	top: 228px;
	left: 212px;
	z-index: 1;
}
.circle-top{
	width: 212px;
	height: 212px;
	background-color: rgba(255,255,255,0);
	border-radius: 50%;
	border: solid 13px rgba(37,141,43,0.70);
	position: absolute;
	top: 100px;
	left: 183px;
	z-index: 0;
}
.circle-left{
	width: 212px;
	height: 212px;
	background-color: rgba(255,255,255,0);
	border-radius: 50%;
	border: solid 13px rgba(37,141,43,0.70);
	position: absolute;
	top: 247px;
	left: 100px;
	z-index: 0;
}
.circle-right{
	width: 212px;
	height: 212px;
	background-color: rgba(255,255,255,0);
	border-radius: 50%;
	border: solid 13px rgba(37,141,43,0.70);
	position: absolute;
	top: 247px;
	right: 100px;
	z-index: 0;
}

.text-middle{
	position: absolute;
	top: 298px;
	left: 258px;
	color: #fff;
	text-align: left;
	z-index: 2;
}
.text-top{
	position: absolute;
	top: 161px;
	left: 258px;
	color: #000;
	text-align: left;
	z-index: 1;
}
.text-left{
	position: absolute;
	top: 372px;
	left: 134px;
	color: #000;
	text-align: left;
	z-index: 1;
}
.text-right{
	position: absolute;
	top: 372px;
	left: 380px;
	color: #000;
	text-align: left;
	z-index: 1;
}
